@{
    ViewData["Title"] = "Home Page";
}

<body>
    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>Hello, I'm Daniel Agbaji</h3>
                <h1>
                    Digital Designer <br>
                    and Web Developer <br>
                    Based In Abuja, Nigeria.
                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    Scroll For More
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">
                    I am Agbaji Daniel, a skilled C# developer with a proven track record in leveraging cutting-edge technologies to build robust and scalable applications.
                    My expertise extends to utilizing powerful tools such as ASP.NET Core,
                    and Entity Framework to streamline the development process and create efficient, high-performance software solutions.
                    </p>

                    <p>
                    With a solid foundation in C# programming, I have successfully contributed to diverse projects, 
                    demonstrating proficiency in crafting web applications and leveraging the capabilities of Entity Framework to interact seamlessly with databases. 
                    My commitment to staying abreast of industry trends and continuously enhancing my skills positions me as a dynamic 
                    and adaptable developer ready to tackle the challenges of modern software development.
                    </p>

                    <p>
                    My professional portfolio includes a diverse range of projects, each showcasing my ability to translate complex requirements into efficient and elegant code.
                    I have a demonstrated history of collaborating with cross-functional teams, where my communication skills and solution-driven approach have been instrumental in achieving project milestones. 
                    As I embark on the next chapter of my career, I am eager to bring my technical acumen, passion for innovation, and dedication to excellence to a forward-thinking team..
                    </p>

                    <p>
                    

                    </p>
                </div>
            </div>

            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--stroke full-width">Hire Me</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">Download CV</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Work & Education</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">March 2022 - Present</p>
                                <h3 class="item-title">Taxify</h3>
                                <h5>Intermediate developer</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    As a Junior C# Developer at Taxify, I played a pivotal role in contributing to the development and enhancement of cutting-edge software solutions.
                                    Working closely with a dynamic team of experienced developers, I actively participated in the design, coding, testing, and debugging phases of various projects.
                                    Leveraging my proficiency in C# programming, I collaborated on the creation of robust and scalable applications, ensuring the delivery of high-quality software products..
                                </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2021 - January 2022</p>
                                <h3 class="item-title">Meta</h3>
                                <h5>Junior Developer</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    My responsibilities included assisting in the implementation of features, addressing bug fixes, and contributing to the optimization of existing codebase.
                                    Throughout my tenure, I demonstrated a commitment to continuous learning and growth, staying abreast of the latest industry trends and incorporating best practices into the development lifecycle.
                                    My contributions extended beyond coding, as I actively engaged in collaborative problem-solving sessions and knowledge-sharing initiatives,
                                    fostering a culture of innovation and efficiency within the development team..
                                </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">January 2021 - June 2021</p>
                                <h3 class="item-title">FLUTTERWAVE</h3>
                                <h5>Intern</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Worked as an intern, where i was assigned to a team, and tasked in helping out with debugging, and applying my progamming skills, with little to no risk,
                                    as they offered me a clear path to growth.
                                 </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2020 - December 2020</p>
                                <h3 class="item-title">Decagon institute of Technology</h3>
                                <h5>Master Degree</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Attended this institute, for a period of six months, a period when i began to really get hands on experience
                                    on the world of software development.
                                 </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2019 - June 2020</p>
                                <h3 class="item-title">Ahmadu Bello University Zaria.</h3>
                                <h5>Bachelor Degree</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Where i obtained a masters degree, with double distinctions, as well as other recognitions from local and global audiences</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2015 - June 2019</p>
                                <h3 class="item-title">Ahmadu Bello University Zaria</h3>
                                <h5>Bachelor Degree</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                   Went to Ahmadu Bello University Zaria, where i obtained a bachelors degree in computer science and mathematics, a course that sparked my interest
                                 in the world of computers, and programming in general.
                                
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services ss-dark target-section">

        <div class="shadow-overlay"></div>

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Capabilities</h2>

                <p class="section-desc">
                    My passion and goal is to bring my hands on experience to your company, 
                    and help solve real life problems.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="row services-list block-large-1-3 block-medium-1-2 block-tab-full">

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Brand Identity</h4>
                    <p>
                    I bring a unique blend of creativity, technical proficiency, and a strategic mindset to the table when it comes to enhancing brand identity. 
                    As a C# developer, I understand the importance of a cohesive and impactful digital presence. My experience in crafting robust software solutions 
                    aligns seamlessly with the goal of maintaining a strong and consistent brand image.  
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Illustration</h4>
                    <p>
                    As a C# developer, I bring a knack for seamlessly translating brand identity into digital experiences. 
                    Through clean and efficient code, I contribute to a digital landscape 
                    that not only functions flawlessly but visually encapsulates the essence of the brand.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Web Design</h4>
                    <p>
                    With a focus on C# development, I enhance brand appeal through sleek and intuitive web design.
                    My expertise ensures not just functionality but a visually captivating online presence that resonates with users instantly.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Product Strategy</h4>
                    <p>
                    My role as a C# developer extends beyond code, as I seamlessly integrate product strategy into every development facet. 
                    I contribute to crafting solutions that align with overarching business goals,
                    ensuring the software not only functions effectively but strategically advances the product roadmap.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Quality Assurance</h4>
                    <p>
                    As a C# developer, I meticulously integrate quality assurance into every stage of development.
                    My attention to detail and systematic testing approach guarantee the delivery of software that not only functions seamlessly but also surpasses industry standards, 
                    ensuring a robust and reliable end product.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Testing</h4>
                    <p>
                    In the realm of C# development, I am dedicated to advancing testing methodologies. By implementing thorough testing processes,
                    I ensure the delivery of software that not only meets functional requirements but exceeds expectations for reliability and performance. 
                    
                    </p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- CTA
    ================================================== -->
    <section class="s-cta ss-dark">

        

       

    </section> <!-- end s-cta -->


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Selected Works</h2>
                <p class="section-desc">
                    Here are some of my selected works I have done lately. Feel free to 
                    check them out.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="masonry-wrap">

            <div class="masonry">
                <div class="grid-sizer"></div>

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="~/resources/images/portfolio/gallery/g-city-building.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                <img src="~/resources/images/portfolio/city-building.jpg" 
                                     srcset="~/resources/images/portfolio/city-building.jpg 1x, images/portfolio/city-building@2x.jpg 2x" alt="">
                            </a>    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>

                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                City Building
                            </h4>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="~/resources/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                <img src="~/resources/images/portfolio/woodcraft.jpg" 
                                     srcset="~/resources/images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Woodcraft
                            </h4>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="images/portfolio/the-beetle.jpg"
                                     srcset="images/portfolio/the-beetle.jpg 1x, images/portfolio/the-beetle@2x.jpg 2x" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                The Beetle
                            </h4>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Grow Green" data-size="1050x700">
                                <img src="images/portfolio/shutterbug.jpg" 
                                     srcset="images/portfolio/shutterbug.jpg 1x, images/portfolio/shutterbug@2x.jpg 2x" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Shutterbug
                            </h4>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-lamp.jpg" class="thumb-link" title="Guitarist" data-size="1050x700">
                                <img src="images/portfolio/lamp.jpg" 
                                     srcset="images/portfolio/lamp.jpg 1x, images/portfolio/lamp@2x.jpg 2x" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Lamp
                            </h4>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-fuji.jpg" class="thumb-link" title="Palmeira" data-size="1050x700">
                                <img src="images/portfolio/fuji.jpg"
                                     srcset="images/portfolio/fuji.jpg 1x, images/portfolio/fuji@2x.jpg 2x" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Fuji
                            </h4>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-work -->


    <!-- testimonies
    ================================================== -->
    <section class="s-testimonials">

        <div class="row testimonials" data-aos="fade-up">

            <div class="column large-full testimonials__slider">

                <div class="testimonials__slide">
                    <p>Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. 
                    Explicabo a quaerat sint autem dolore ducimus ut consequatur neque.  Nisi dolores quaerat fuga rem nihil nostrum.
                    Laudantium quia consequatur molestias delectus culpa.</p>
                    <div class="testimonials__info">
                        <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Tim Cook</strong>
                            <span>CEO, Apple</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                    Nisi eaque consequatur. Voluptatem dignissimos ut ducimus accusantium perspiciatis.
                        Quasi voluptas eius distinctio. Atque eos maxime.</p>
                    <div class="testimonials__info">
                        <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Sundar Pichai</strong>
                            <span>CEO, Google</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.  
                    Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                    Voluptatem dignissimos ut.</p>
                    <div class="testimonials__info">
                        <img src="images/avatars/user-04.jpg" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Satya Nadella</strong>
                            <span>CEO, Microsoft</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </section> <!-- end s-testimonials -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">Get In Touch</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:#0">hello@epitome.com</a>
                </p>

                <p class="section-desc">
                I'm happy to connect, listen and help. Let's work together and build
                something awesome. Let's turn your idea to an even greater product.
                <a href="mailto:#0">Email Me</a>.
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>Call Me</h4>
                <a href="tel:197-543-2345">+197 543 2345</a>
            </div>

            <div class="column large-7 medium-full contact-social">
                <h4>Social</h4>
                <ul>
                    <li><a href="#0" title="Facebook">Facebook</a></li>
                    <li><a href="#0" title="Twitter">Twitter</a></li>
                    <li><a href="#0" title="Instagram">Instagram</a></li>
                </ul>
            </div>

        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->





    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="~/resources/js/jquery-3.2.1.min.js"></script>
    <script src="~/resources/js/plugins.js"></script>
    <script src="~/resources/js/main.js"></script>

</body>
